:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;

}

body {
    margin: 0;
    min-height: 100vh;
}

*, ::after, ::before {
    box-sizing: inherit;
}

header {
    font-size: 2rem;
    padding: 0 1rem;
    height: 100px;
    background-color: darkgray;
    line-height: 100px;
}

footer {
    font-size: 1.5rem;
    text-align: center;
    height: 60px;
    background-color: lightgrey;
    line-height: 60px;
}

.use-flex #main-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
     
    
}

.use-float #main-container {
    width: 100%;
    display: table;
    height: calc(100vh - 160px);
}

#aside-col {
    display: none;
}

.use-flex #main-col {
    flex: 1;
    background-color: yellowgreen;
}

.use-float #main-col {
    display: table-cell;
    background-color: yellowgreen;
}

#main-container .box {
    height: 100px;
    line-height: 100px;
    background-color: blue;
    text-align: center;
    color: white;
    margin: 1rem 1rem 0 1rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#main-container [selected] {
    color: darkblue;
    background-color: lightblue ;
}

#main-col [type="featured"] {
    border: 3px solid white;
    background-color: black;
}

@media all and (min-width:600px) {
    
    .use-flex #main-col .boxes {
        display: flex;
        flex-flow: row wrap;
        
    }

    .use-flex #main-col .box {
        margin: 1rem 0 0 1rem;
        width: calc((100% - 3rem) / 2);
        
    }

    .use-float #main-col .box {
        float: left;
        margin: 1rem 0 0 1rem;
        width: calc((100% - 3rem) / 2);
    }
}

@media all and (min-width:800px) {
    .use-flex #main-col {
        flex: 7;
    }

    .use-float #main-col {
        width: 70%;
    }

    .use-flex #main-container .boxes {
        display: flex;
        flex-flow: row wrap;
    }

    .use-flex #main-container .box {
        margin: 1rem 0 0 1rem;
    }

    .use-float #main-container .box {
        float: left;
        margin: 1rem 0 0 1rem;
    }



    .use-float #main-col .box, .use-flex #main-col .box {
        width: calc((100% - 4rem) / 3);
    }

    .use-flex #aside-col {
        display: block;
        flex: 3;
        background-color: lightblue;
        vertical-align: top;
    }

    .use-float #aside-col {
        display: table-cell;
        background-color: lightblue;
        vertical-align: top;
    }

    

    .use-float #aside-col .boxes {
        display: flex;
        flex-flow: row wrap;
    }

    .use-float #aside-col .box, .use-flex #aside-col .box {
        width: calc((100% - 3rem) / 2);
    }

    ul.links {
        list-style: none;
        padding: 1rem;
    }

    ul.links > li {
        color: black;
        padding: .5rem;
        background-color: grey;
        margin-bottom: .3rem;
        text-align: center;
    }

    ul.links>li>a {
        color: inherit;
        text-decoration: none;
    }

    ul.links>li>a:link {
        color: white;
    }

    ul.links>li>a:visited {
        color: darkgray;
    }

    ul.links>li>a:active {
        color: orange;
    }

    ul.links > li:hover {
        background-color: blue;
    }
}

